@model Thuthuka_Construction.Models.Quatation

<div class="container my-5">
    <h2 class="text-center mb-4">Quotation Details</h2>

    <div class="card shadow-sm">
        <div class="card-body">
            @* <h5 class="card-title">Customer Project: @Model.customerProject.Project.ProjectName</h5> *@
            <p class="card-text">Foreman: @Model.Foreman.UserName</p>
            <p class="card-text">Resources: @Model.Resources</p>
            <p class="card-text">Total Cost: R@Model.TotalCost</p>
            <p class="card-text">Date Created: @Model.DateCreated.ToShortDateString()</p>
            <p class="card-text">Status: <span class="badge bg-info">@Model.Status</span></p>
        </div>
    </div>

    <div class="mt-4">
@*         <form method="post" asp-action="AcceptQuotation"  class="d-inline">
            <button type="submit" class="btn btn-success">Accept Quotation</button>
        </form>
        <form method="post" asp-action="DeclineQuotation" asp-route-id="@Model.QuatationId" class="d-inline">
            <button type="submit" class="btn btn-danger">Decline Quotation</button>
        </form> *@
        <a class="btn btn-primary mt-3" asp-area="" asp-controller="CustomerProjects" asp-action="CustomerProjectProgress">Back to Project List</a>
    </div>

</div>
