@* @model Thuthuka_Construction.Models.CustomerProject

@{
    ViewData["Title"] = "Delete Customer Project";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-danger bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Customer Project</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <h3 class="text-danger text-center">Are you sure you want to delete this project?</h3>
        <div class="border p-3">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Customer)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Customer.Id)
                </dd>
<<<<<<< HEAD

                <dt class="col-sm-2">
=======
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Quatation.QuatationId)
                </dd>
                <dt class="col-sm-3">
>>>>>>> d7d0007e1aa5d3c57322c4fe9ebb4f4b85619fbe
                    @Html.DisplayNameFor(model => model.SelectDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SelectDate)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="CustomerProjectId" />
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <input type="submit" value="Delete" class="btn btn-danger form-control" />
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index" class="btn btn-outline-primary border form-control">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
 *@