@* @model Thuthuka_Construction.Models.CustomerProject

@{
    ViewData["Title"] = "Delete";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-danger bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Customer Project</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Customer Project</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Customer)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Customer.Id)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Quatation.QuatationId)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.SelectDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.SelectDate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </dl>
        </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="CustomerProjectId" />
            <div class="row pt-3">
                <div class="col-6 col-md-3">
                    <input type="submit" value="Delete" class="btn btn-danger form-control" />
                </div>
                <div class="col-6 col-md-3">
                    <a asp-action="Index" class="btn btn-outline-primary border form-control">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>
 *@