@* @model Thuthuka_Construction.Models.Project

@{
    ViewData["Title"] = "Delete Project";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-danger bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Project</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <h3 class="text-center text-danger">Are you sure you want to delete this?</h3>
        <div class="border p-3">
            <dl class="row">
                <!-- Project Name -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ProjectName)
                </dt>
                <dd class="col-sm-9">
                    <div class="form-floating">
                        <input class="form-control border-0 shadow" value="@Model.ProjectName" readonly />
                        <label>@Html.DisplayNameFor(model => model.ProjectName)</label>
                    </div>
                </dd>

                <!-- Description -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    <div class="form-floating">
                        <input class="form-control border-0 shadow" value="@Model.Description" readonly />
                        <label>@Html.DisplayNameFor(model => model.Description)</label>
                    </div>
                </dd>

                <!-- Start Date -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>
                <dd class="col-sm-9">
                    <div class="form-floating">
                        <input class="form-control border-0 shadow" value="@Model.StartDate.ToString("yyyy-MM-dd")" readonly />
                        <label>@Html.DisplayNameFor(model => model.StartDate)</label>
                    </div>
                </dd>

                <!-- End Date -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>
                <dd class="col-sm-9">
                    <div class="form-floating">
                        <input class="form-control border-0 shadow" value="@Model.EndDate.ToString("yyyy-MM-dd")" readonly />
                        <label>@Html.DisplayNameFor(model => model.EndDate)</label>
                    </div>
                </dd>

                <!-- Status -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-9">
                    <div class="form-floating">
                        <input class="form-control border-0 shadow" value="@Model.Status" readonly />
                        <label>@Html.DisplayNameFor(model => model.Status)</label>
                    </div>
                </dd>

                <!-- Project Type -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ProjectType.ProjectTypeId)
                </dt>
                <dd class="col-sm-9">
                    <div class="form-floating">
                        <input class="form-control border-0 shadow" value="@Model.ProjectType.ProjectTypeId" readonly />
                        <label>@Html.DisplayNameFor(model => model.ProjectType.ProjectTypeId)</label>
                    </div>
                </dd>

                <!-- Foreman ID -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Foreman.Id)
                </dt>
                <dd class="col-sm-9">
                    <div class="form-floating">
                        <input class="form-control border-0 shadow" value="@Model.Foreman.Id" readonly />
                        <label>@Html.DisplayNameFor(model => model.Foreman.Id)</label>
                    </div>
                </dd>
            </dl>

            <div class="row pt-4">
                <div class="col-6 col-md-3">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ProjectId" />
                        <input type="submit" value="Delete" class="btn btn-danger form-control" />
                    </form>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-action="Index" class="btn btn-outline-primary border form-control">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.RenderPartialAsync("_ValidationScriptsPartial")
}
 *@