@model IEnumerable<Thuthuka_Construction.Models.Project>

@{
    ViewData["Title"] = "Project List";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Project List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
                <!-- Left side could be used for filters, search, or other controls -->
            </div>
            <div class="col-6 text-end">
                <a asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Project
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProjectName)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.ProjectType)</th>
                    <th>@Html.DisplayNameFor(model => model.Foreman)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ProjectName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.ProjectType.ProjectTypeName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Foreman.Id)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ProjectId" class="btn btn-sm btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.ProjectId" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/project.js"></script>
}