@model Thuthuka_Construction.Models.Progress

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Progress Details</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <h4>Progress</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.customerProject)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.customerProject.CustomerProjectId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CurrentPhase)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CurrentPhase)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>
        </dl>
    </div>
    <div class="card-footer text-center">
        <a asp-action="Edit" asp-route-id="@Model?.ProgressId" class="btn btn-primary">Edit</a> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
