@model IEnumerable<Thuthuka_Construction.Models.Progress>

@{
    ViewData["Title"] = "Index";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Progress List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.customerProject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrentPhase)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdateDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.customerProject.CustomerProjectId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrentPhase)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ProgressId" class="btn btn-outline-secondary btn-sm">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ProgressId" class="btn btn-outline-secondary btn-sm">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ProgressId" class="btn btn-outline-secondary btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
