@model IEnumerable<Thuthuka_Construction.Models.Resource>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerUnit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerUnit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResourceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResourceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResourceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
