@model Thuthuka_Construction.Models.Quatation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quatation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateIssued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateIssued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foreman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foreman.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuatationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
