@* @* @model Thuthuka_Construction.Models.Quatation

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Quotation Details</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.customerProject)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.customerProject.CustomerProjectId)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Foreman)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Foreman.Id)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.TotalCost)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TotalCost)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Resources)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Resources)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <div class="row">
        <div class="col-6 col-md-3">
            <a asp-action="Edit" asp-route-id="@Model?.QuatationId" class="btn btn-warning form-control">Edit</a>
        </div>
        <div class="col-6 col-md-3">
            <a asp-action="Index" class="btn btn-outline-primary border form-control">Back to List</a>
        </div>
    </div>
</div>
 *@ 