@model IEnumerable<Thuthuka_Construction.Models.Quatation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customerProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foreman)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resources)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerProject.CustomerProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foreman.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resources)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuatationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuatationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuatationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
