@model IEnumerable<Thuthuka_Construction.Models.Quotation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuotationResource)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerProject.CustomerProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotationResource.QuotationResourceId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuotationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuotationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuotationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
