@model Thuthuka_Construction.Models.QuotationResource

@{
    ViewData["Title"] = "Delete";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-danger text-white">
        <h2 class="text-center mb-0">Delete Quotation Resource</h2>
    </div>
    <div class="card-body p-4">
        <h3 class="text-center">Are you sure you want to delete this?</h3>
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Quotation)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Quotation.QuotationId)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Resource)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Resource.ResourceId)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="QuotationResourceId" />
            <div class="d-flex justify-content-between mt-4">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
                <a asp-action="Index" class="btn btn-outline-primary border form-control">Back to List</a>
            </div>
        </form>
    </div>
</div>