@model Thuthuka_Construction.Models.QuotationResource

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuotationResource</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quotation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quotation.QuotationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resource.ResourceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuotationResourceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
